$primary-color: rgb(238, 219, 184);
$secondary-color: #ceecff;
$third-color: #fbf8f4;
$fourth-color: #639787;

@font-face {
    font-family: "vegan";
    src: url('../font/VSP.ttf') format("opentype");
}

@mixin tittleFont($shadow) {
    font-family: vegan;
    color: $fourth-color;
    text-shadow: (-$shadow) 0 #fefefe, 0 ($shadow) #fefefe, ($shadow) 0 #fefefe, 0 (-$shadow) #fefefe;
}

html {
    height: 100vh;
    width: 100vw;
    scrollbar-width: none;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $secondary-color;
}

header {
    background-color: $secondary-color;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        @include tittleFont(4px);
        font-size: 2vh;


        h2 {
            margin-left: 35px;
        }
    }
}

.navBar {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--top {
        margin-bottom: 1vh;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        gap: 2vw;
        list-style: none;


        img {
            filter: contrast(5%) invert(30%) sepia(80%) hue-rotate(115deg);
            height: 1.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            height: 5vh;
            width: 8vw;
            border: 0;
            font-size: x-large;
            background-color: $secondary-color;
            @include tittleFont(2px);

            &:hover {
                color: darken($color: $primary-color, $amount: 10);
            }

            &:active {
                color: darken($color: $primary-color, $amount: 20);
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articlesGallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 2vw;
    margin-top: 5vh;

    a {
        text-align: center;
        text-decoration: none;
        color: $fourth-color;
        font-family: vegan;
        font-size: larger;
    }

    p {
        text-overflow: ellipsis;
    }

    img {
        border: solid 5px;
        border-radius: 20px;
        width: 25vw;
    }
}