$primary-color: rgb(238, 219, 184);
$secondary-color: #cdecff;
$third-color: #fbf8f4;
$fourth-color: #639787;

@font-face {
    font-family: "vegan";
    src: url('../font/VSP.ttf') format("opentype");
}

@mixin tittleFont($shadow, $color) {
    text-shadow: (-$shadow) 0 $color, 0 ($shadow) $color, ($shadow) 0 $color, 0 (-$shadow) $color;
}

html {
    height: 100vh;
    width: 100vw;
    scrollbar-width: none;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $secondary-color;
}

main {
    background-color: $third-color;
}

header {
    background-color: $secondary-color;
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
    }

    p {
        color: $fourth-color;
        @include tittleFont(4px, $third-color);
        font-size: 2vh;
        font-family: vegan;

        h2 {
            margin-left: 35px;
        }
    }
}

.navBar {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(315deg, $third-color 25%, transparent 25%),
        linear-gradient(45deg, $third-color 25%, transparent 25%);
    background-size: 25px 100%;
    background-color: $secondary-color;

    &--top {
        margin-bottom: 1vh;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        gap: 1vw;
        list-style: none;

        img {
            filter: contrast(5%) invert(30%) sepia(80%) hue-rotate(115deg);
            height: 1.8vw;
        }

        button {
            font-family: vegan;
            height: 5vh;
            width: 15vw;
            border: 0;
            font-size: x-large;
            background-color: $secondary-color;
            color: $fourth-color;
            @include tittleFont(2px, $third-color);

            &:hover {
                color: darken($color: $primary-color, $amount: 10);
            }

            &:active {
                color: darken($color: $primary-color, $amount: 20);
            }
        }
    }
}

footer {
    font-family: vegan;
    color: #fbf8f4;
    position: absolute;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: end;
    background:
        linear-gradient(235deg, $third-color 25%, transparent 25%),
        linear-gradient(125deg, $third-color 25%, transparent 25%);
    background-size: 25px 100%;
    background-color: $secondary-color;
}

.articlesGallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: 2vw;
    background-color: $third-color;
    padding-top: 5vh;
    padding-bottom: 5vh;

    div {
        width: 25vw;

        &:hover {
            border-radius: 15px;
            box-shadow: 0px 0px 30px 3px darken($color: white, $amount: 10);
        }

        a {
            text-align: center;
            text-decoration: none;
            color: $fourth-color;
            font-family: vegan;
            font-size: larger;

            h2 {
                overflow-wrap: break-word;
                text-align: center;
                @include tittleFont(.5px, $secondary-color)
            }
        }

        p {
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 95%;
            height: 8vh;
            color: $third-color;
            white-space: pre-wrap;
            color: $fourth-color;
        }

        img {
            border: solid 5px;
            border-radius: 20px;
            width: 95%;
        }
    }

}

.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 5vh 0 5vh;
}

.articlesCard {
    width: 60vw;
    text-align: center;

    h2 {
        font-family: vegan;
        font-size: 4vh;
        color: #639787;
    }

    p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: x-large;
    }

    img {
        width: 40vw;
    }
}