@font-face {
  font-family: "vegan";
  src: url("../font/VSP.ttf") format("opentype");
}
html {
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #cdecff;
}

main {
  background-color: #fbf8f4;
}

header {
  background-color: #cdecff;
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  text-decoration: none;
}
header p {
  color: #639787;
  text-shadow: -4px 0 #fbf8f4, 0 4px #fbf8f4, 4px 0 #fbf8f4, 0 -4px #fbf8f4;
  font-size: 2vh;
  font-family: vegan;
}
header p h2 {
  margin-left: 35px;
}

.navBar {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: linear-gradient(315deg, #fbf8f4 25%, transparent 25%), linear-gradient(45deg, #fbf8f4 25%, transparent 25%);
  background-size: 25px 100%;
  background-color: #cdecff;
}
.navBar--top {
  margin-bottom: 1vh;
}
.navBar__list {
  display: flex;
  flex-flow: row wrap;
  gap: 1vw;
  list-style: none;
}
.navBar__list img {
  filter: contrast(5%) invert(30%) sepia(80%) hue-rotate(115deg);
  height: 1.8vw;
}
.navBar__list button {
  font-family: vegan;
  height: 5vh;
  width: 15vw;
  border: 0;
  font-size: x-large;
  background-color: #cdecff;
  color: #639787;
  text-shadow: -2px 0 #fbf8f4, 0 2px #fbf8f4, 2px 0 #fbf8f4, 0 -2px #fbf8f4;
}
.navBar__list button:hover {
  color: #e4c68f;
}
.navBar__list button:active {
  color: #dab166;
}

footer {
  font-family: vegan;
  color: #fbf8f4;
  position: absolute;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: end;
  background: linear-gradient(235deg, #fbf8f4 25%, transparent 25%), linear-gradient(125deg, #fbf8f4 25%, transparent 25%);
  background-size: 25px 100%;
  background-color: #cdecff;
}

.articlesGallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  gap: 2vw;
  background-color: #fbf8f4;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.articlesGallery div {
  width: 25vw;
}
.articlesGallery div:hover {
  border-radius: 15px;
  box-shadow: 0px 0px 30px 3px #e6e6e6;
}
.articlesGallery div a {
  text-align: center;
  text-decoration: none;
  color: #639787;
  font-family: vegan;
  font-size: larger;
}
.articlesGallery div a h2 {
  overflow-wrap: break-word;
  text-align: center;
  text-shadow: -0.5px 0 #cdecff, 0 0.5px #cdecff, 0.5px 0 #cdecff, 0 -0.5px #cdecff;
}
.articlesGallery div p {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  height: 8vh;
  color: #fbf8f4;
  white-space: pre-wrap;
  color: #639787;
}
.articlesGallery div img {
  border: solid 5px;
  border-radius: 20px;
  width: 95%;
}

.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 5vh 0 5vh;
}

.articlesCard {
  width: 60vw;
  text-align: center;
}
.articlesCard h2 {
  font-family: vegan;
  font-size: 4vh;
  color: #639787;
}
.articlesCard p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: x-large;
}
.articlesCard img {
  width: 40vw;
}/*# sourceMappingURL=style.css.map */